<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        SpringMVC
        <td width="100px">ID</td>
        <td width="100px">请求地址</td>
        <td width="100px">请求方法</td>
        <td width="100px">客户端IP</td>
        <td width="100px">客户端地址</td>
        <td width="100px">客户端代理</td>
        <td width="100px">备注</td>
        <td width="100px">创建时间</td>
    </tr>
    <tr  th:each="collect,iterStat : ${collects}">
        <td th:text="${collect.logId}"></td>
        <td th:text="${collect.requestUrl}"></td>
        <td th:text="${collect.httpMethod}"></td>
        <td th:text="${collect.clientIp}"></td>
        <td th:text="${collect.clientAddress}"></td>
        <td th:text="${collect.clientProxy}"></td>
        <td th:text="${collect.remark}"></td>
        <td th:text="${collect.createDate}"></td>
    </tr>
</table>
</body>
</html>