<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <!--<plugins>-->
        <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->
   <!--<environments default="dev">-->
       <!--<environment id="dev">-->
           <!--<transactionManager type="JDBC"/>-->
           <!--<dataSource type="POOLED">-->
               <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
               <!--<property name="url" value="jdbc:mysql://localhost:3306/myproject"/>-->
                <!--<property name="username" value="root"/>-->
               <!--<property name="password" value="root"/>-->
           <!--</dataSource>-->
       <!--</environment>-->
   <!--</environments>-->
    <!--<mappers>-->
        <!--<mapper resource="mapping/HttpLogMapper.xml"/>-->
    <!--</mappers>-->

</configuration>
