<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:user="http://www.tangshengbo.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

       http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.tangshengbo.com/schema/user
    http://www.tangshengbo.com/schema/user.xsd">

    <!-- <context:property-placeholder location="classpath:dbconfig.properties" />-->
    <!-- 自动扫描(自动注入)，扫描com.tangshengbo.service这个包以及它的子包的所有使用@Service注解标注的类 -->
    <context:component-scan base-package="com.tangshengbo.service,com.tangshengbo.controller"/>
    <!--Redis -->
   <!-- <cache:annotation-driven cache-manager="redisCacheManager"/>-->
    <!--EhCache -->
    <cache:annotation-driven cache-manager="ehCacheManager"/>

    <!--<aop:config proxy-target-class="true"/>-->

    <bean id="personTest" class="com.tangshengbo.model.PersonTest">
        <lookup-method name="getPerson" bean="student"/>
        <replaced-method name="show" replacer="personReplacer"/>
    </bean>

    <user:user  userName="唐" email="191991919@qq.com"/>

    <bean id="gson" class="com.google.gson.Gson"/>

    <bean id="teacher" class="com.tangshengbo.model.Teacher"/>
    <bean id="student" class="com.tangshengbo.model.Student"/>
    <bean id="replacer" class="com.tangshengbo.model.PersonReplacer"/>

    <bean id="testA" class="com.tangshengbo.model.cycle.TestA">
        <!--<constructor-arg index="0" ref="testB"/>-->
        <property name="testB" ref="testB"/>
        <property name="date" value="2018-11-07"/>
    </bean>
    <bean id="testB" class="com.tangshengbo.model.cycle.TestB">
       <property name="testC" ref="testC"/>
    </bean>
    <bean id="testC" class="com.tangshengbo.model.cycle.TestC">
        <property name="testA" ref="testA"/>
    </bean>
    <alias name="replacer" alias="personReplacer"/>
    <!-- 引入dbconfig.properties属性文件 -->
    <bean  id="propertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <meta key="fsdf" value="fsdfs"/>
        <property name="locations">
            <list>
                <value>classpath:dbconfig.properties</value>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" >
            <list>
                <bean class="com.tangshengbo.model.MyStringToDateConverter"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <!--<property name="propertyEditorRegistrars">-->
            <!--<list>-->
              <!--<bean class="com.tangshengbo.model.CustomPropertyEditorRegistrar"/>-->
            <!--</list>-->
        <!--</property>-->
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.tangshengbo.model.DatePropertyEditor"/>
            </map>
        </property>
    </bean>

    <alias name="commonSelfIdGenerator" alias="idGenerator"/>
    <!--<alias name="idGenerator" alias="commonSelfIdGenerator"/>-->

    <bean id="ehCacheManager"  class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>
    <bean  id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:spring-ehcache.xml"/>
    </bean>

    <!--<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
        <!--<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>-->
            <!--&lt;!&ndash;不设置则默认为classpath下的 ValidationMessages.properties &ndash;&gt;-->

    <!--</bean>-->
    <bean id="commonSelfIdGenerator" class="com.dangdang.ddframe.rdb.sharding.id.generator.self.CommonSelfIdGenerator"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-redis.xml"/>
    <import resource="spring-task.xml"/>
    <import resource="spring-mongo.xml"/>
    <import resource="spring-mvc.xml"/>
</beans>