<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangshengbo.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.tangshengbo.model.Account">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MONEY" jdbcType="DOUBLE" property="money" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO account(NAME,MONEY,CREATE_DATE)
    <foreach collection="list" item="item" index="index"  separator="union all">
      select
      #{item.name,jdbcType=VARCHAR},
      #{item.money,jdbcType=DOUBLE},
      #{item.createDate,jdbcType=TIMESTAMP}
      from dual
    </foreach>
  </insert>
</mapper>