<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangshengbo.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.tangshengbo.model.Account">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MONEY" jdbcType="DOUBLE" property="money" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO account(NAME,MONEY,CREATE_DATE)
    <foreach collection="list" item="item" index="index"  separator="union all">
      select
      #{item.name,jdbcType=VARCHAR},
      #{item.money,jdbcType=DOUBLE},
      #{item.createDate,jdbcType=TIMESTAMP}
      from dual
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tangshengbo.model.Account">
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>