<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangshengbo.dao.LoveImageMapper">
    <resultMap id="BaseResultMap" type="com.tangshengbo.model.LoveImage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, img_url, remark, CREATE_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from love_image
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from love_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="delete" parameterType="java.lang.String">
    delete from love_image
    where img_url = #{url,jdbcType=VARCHAR}

  </delete>
    <insert id="insert" parameterType="com.tangshengbo.model.LoveImage">
    insert into love_image (id, img_url, remark,
      CREATE_DATE)
    values (#{id,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.tangshengbo.model.LoveImage">
        insert into love_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangshengbo.model.LoveImage">
        update love_image
        <set>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangshengbo.model.LoveImage">
    update love_image
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="listLoveImage" resultMap="BaseResultMap" resultType="com.tangshengbo.model.LoveImage">
        select
        <include refid="Base_Column_List"/>
        from love_image order by id

    </select>
</mapper>